
body {
  display: flex;
  justify-content: center;
  background-color: #2c2e36;
}

#root {
  background-color: #1A1B21;
  height: auto;
  width: 317px;
  font-family: Inter;
  border-radius: 1em;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.info > img {
  height: 100%;
  width: 100%;
  margin-bottom: 25px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.info > h1 {
  color: white;
  font-size: 25px;
  margin: 0;
}
.info > h3 {
  color: #F3BF99;
  font-size: 12.8px;
  font-weight: 400;
  margin: 0;
}

small {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  font-size: 10.24px;
  color: #F5F5F5;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 5px; 
}

.buttons > a {
  margin: 10px;
  border-radius: .5em;
  border-style: hidden;
}
  
#linkedIn {
  background-color: #5093E2;
  color: white;
  height: 34px;
  width: 115px;
  font-size: 14px;
  border-radius: .5em;
  border-style: hidden;
}

#linkedIn > img {
  height: 13.3px;
  width: 13.3px;
}

#email {
  background-color: white;
  height: 34px;
  width: 115px;
  font-size: 14px;
  border-radius: .5em;
  border-style: hidden;
}

#email > img {
  height: 9.6px;
  width: 12.8px;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
  margin-right: 34px;
}

.interests {
  display: flex;
  flex-direction: column;
  margin-left: 33px;
  margin-right: 34px;
}

h2 {
  font-size: 16px;
  color: #F5F5F5;
  margin-bottom: 0;
}

p {
  margin-top: 4px;
  font-size: 10.24px;
  color: #DCDCDC;
  line-height: 150%;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161619;
  height: 64px;
  width: 317px;
  margin-top: 40px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.socials > a {
  height: 25px;
  width: 25px;
  margin: 14px;
}